<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				{% for page in site.pages %}
					{% if page.layout == "page" %}
						<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	{% if page.title %}
		<h1><a href="{{ site.baseurl }}">{{ page.title }}</a></h1>
	{% else %}
		<h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
	{% endif %}
</header>
